<!-- Validation failure messages -->
<% if @drink.errors.any? %>
  <% @drink.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Drink</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_drink" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for drink -->
      <div class="form-group">
        <label for="drink" class="control-label">
          Drink
        </label>

        <input type="text" id="drink" name="drink" placeholder="Drink" class="form-control" value="<%= @drink.drink %>">
      </div>

      <button class="btn btn-success">
        Create Drink
      </button>
      or
      <a href="/drinks">Cancel</a>
    </form>
  </div>
</div>
